@model List<MakeupStoreMvc.Models.ProductListDto>
<section id="hero">
    <div class="swiper slideshow">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                 style="background-image:url(/aura-template/images/banner2.jpg); background-repeat: no-repeat; background-position: center; height:950px;">
                <div class="container padding-large">
                    <div class="row justify-content-end">
                        <div class="col-lg-6" data-aos="fade-up">
                            <h2 class="display-1 text-uppercase text-white mt-3">Güzelliğini Öne Çıkar</h2>
                            <p class="text-capitalize text-white fs-5 mb-4">Mükemmel görünümünüzü Premium kozmetiklerle güzelleştirin.</p>
                            <a href="#" class="btn btn-light">
                                Tüm Ürünler
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                 style="background-image:url(/aura-template/images/banner1.jpg); background-repeat: no-repeat; background-position: center; height:950px;">
                <div class="container padding-large">
                    <div class="row justify-content-end">
                        <div class="col-lg-6" data-aos="fade-up">
                            <h2 class="display-1 text-uppercase text-white mt-3">Işıltınızı arttırın</h2>
                            <p class="text-capitalize text-white fs-5 mb-4">Güzelliğinizi Premium cilt bakımı ile aydılatın.</p>
                            <a href="#" class="btn btn-light">
                                Alışverişe Başla
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                 style="background-image:url(/aura-template/images/banner3.jpg); background-repeat: no-repeat; background-position: center; height:950px;">
                <div class="container padding-large">
                    <div class="row justify-content-end">
                        <div class="col-lg-6" data-aos="fade-up">
                            <h2 class="display-1 text-uppercase text-white mt-3">Güzelliğinizi tanımlayın</h2>
                            <p class="text-capitalize text-white fs-5 mb-4">Görünümünüzü lüks kozmetiklerle dönüştürün.</p>
                            <a href="#" class="btn btn-light">
                                Ürünleri Gör
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-slideshow"></div>
    </div>
</section>

<section class="logo-bar">
    <div class="container padding-medium" data-aos="fade-up">
        <div class="row ">
            <div class="logo-content d-flex flex-wrap justify-content-between">
                <a href="#"> <img src="~/aura-template/images/logo1.png" alt="logo" class="logo-image img-fluid my-3"> </a>
                <a href="#"> <img src="~/aura-template/images/logo2.png" alt="logo" class="logo-image img-fluid my-3"> </a>
                <a href="#"> <img src="~/aura-template/images/logo3.png" alt="logo" class="logo-image img-fluid my-3"> </a>
                <a href="#"> <img src="~/aura-template/images/logo4.png" alt="logo" class="logo-image img-fluid my-3"> </a>
                <a href="#"> <img src="~/aura-template/images/logo5.png" alt="logo" class="logo-image img-fluid my-3"> </a>
            </div>
        </div>
    </div>
</section>

<section id="category">
    <div class="container-fluid px-3 px-md-5">
        <div class="row">
            <div class="col-md-4 position-relative" data-aos="fade-up" data-aos-delay="300">
                <div class="z-1 position-absolute bottom-0 start-0 m-3 m-lg-5 ps-4 text-white">
                    <h3 class="text-light text-uppercase">Cilt Bakımı</h3>
                </div>
                <div class="image-holder zoom-effect">
                    <a href="single-post.html">
                        <img src="~/aura-template/images/category1.jpg" alt="Luxury skincare products" class="post-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-4 position-relative" data-aos="fade-up" data-aos-delay="600">
                <div class="z-1 position-absolute bottom-0 start-0 m-3 m-lg-5 ps-4 text-white">
                    <h3 class="text-light text-uppercase">Makyaj Koleksiyonu</h3>
                </div>
                <div class="image-holder zoom-effect">
                    <a href="single-post.html">
                        <img src="~/aura-template/images/category3.jpg" alt="Premium makeup products" class="post-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-4 position-relative" data-aos="fade-up" data-aos-delay="900">
                <div class="z-1 position-absolute bottom-0 start-0 m-3 m-lg-5 ps-4 text-white">
                    <h3 class="text-light text-uppercase">Parfümler ve kokular</h3>
                </div>
                <div class="image-holder zoom-effect">
                    <a href="single-post.html">
                        <img src="~/aura-template/images/category2.jpg" alt="Luxury perfume bottles" class="post-image img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="new-arrival" class="product-store">
    <div class="container padding-medium" data-aos="fade-up">
        <h2 class="display-5 fw-light text-uppercase text-center">Ürünler</h2>
        <p class="text-center mb-4">Daha fazla güzellik</p>
        <div class="row">
            @foreach(var item in Model)
            {
                
            <div class="col-md-6 col-lg-3 my-4">
                <div class="product-item">
                    <div class="image-holder">
                        <img src="@item.ImageUrl" alt="Books" class="product-image img-fluid">
                    </div>
                    <div class="cart-concern">
                        <div class="cart-button d-flex justify-content-between align-items-center">
                            <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">
                                Sepete Ekle <i class="icon icon-arrow-io pe-1"></i>
                            </a>
                            <a href="single-product.html" class="view-btn mt-1">
                                <i class="icon icon-screen-full"></i>
                            </a>
                            <a href="#" class="wishlist-btn mt-1">
                                <i class="icon icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-detail d-flex justify-content-between align-items-center mt-2">
                        <a href="single-product.html">
                            <h5 class="product-title mb-0">@item.ProductName </h5>
                        </a>
                        <p class="m-0 fs-5 fw-normal">@item.Price</p>
                    </div>
                </div>
            </div>
            }
                
            
       
        </div>
        <div class="text-center mt-5 pt-4">
            <button type="submit" class="btn btn-primary">Tüm Ürünleri Gör</button>
        </div>
    </div>
</section>



<section id="service" class="padding-medium">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-3 my-3">
                <div class="card">
                    <div>
                        <iconify-icon class="service-icon text-primary display-4" icon="ci:shopping-cart-02"></iconify-icon>
                    </div>
                    <h4 class=" text-uppercase py-3 m-0">
Ücretsiz Teslimat</h3>
                        <div class="card-text">
                            <p>Alt Limitsiz ücretsiz kargo</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div>
                            <iconify-icon class="service-icon text-primary display-4" icon="tdesign:secured"></iconify-icon>
                        </div>
                        <h4 class=" text-uppercase py-3 m-0">
                            100% ödeme güvencesi</h3>
                            <div class="card-text">
                                <p>3D secure ile ödeme güvencesi</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 my-3">
                        <div class="card">
                            <div>
                                <iconify-icon class="service-icon text-primary display-4" icon="la:award"></iconify-icon>
                            </div>
                            <h4 class=" text-uppercase py-3 m-0">
                               Kalite garantisi</h3>
                                <div class="card-text">
                                    <p>1. kalite ürünler</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="card">
                                <div>
                                    <iconify-icon class="service-icon text-primary display-4" icon="solar:dollar-outline"></iconify-icon>
                                </div>
                                <h4 class=" text-uppercase py-3 m-0">
                                   Günlük İndirimler</h3>
                                    <div class="card-text">
                                        <p>Hergün supriz indirimli ürünler</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

    