@{
    Layout = "_AdminLayout";
}
@model MakeupStoreMvc.Models.Category

@{
    ViewData["Title"] = "Kategori Ekle";
}

<div class="container mt-4">

    <h2 class="mb-4">Kategori Ekle</h2>

    <form method="post">

        <div class="mb-3">

            <label class="form-label">
                Kategori Adı
            </label>

            <input asp-for="CategoryName"
                   class="form-control" />

        </div>

        <button class="btn btn-success">
            Kaydet
        </button>

        <a href="/Categories"
           class="btn btn-secondary">
            İptal
        </a>

    </form>

</div>