@model List<MakeupStoreMvc.Models.Users>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Users";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>User List</h2>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>